body{
  background-color: #89B449;
  font-family: 'Parkinsans', sans-serif ;
}



.body{
  overflow-x: hidden;
}

.center{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text{
    text-align: center;
    font: bolder;
}

.form_container{
  display: flex;  
  justify-content: center !important;

  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.boxes{
  background-color: #89B449;
  width: 400px;
  padding: 20px;
  margin: 5px;
  border-radius: 25px;
}

#sulten{
  display: flex;
  justify-content: space-evenly;
}

#type{
  display: flex;
  justify-content: space-evenly;
}

#butto2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Parkinsans', sans-serif ;
}

#butto{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  margin: 4px 2px;
  font-family: 'Parkinsans', sans-serif ;
  font-size: 20px;
}

.dropbutton {
  width: 100%;
  height: 40%;
  font-size: medium;
  background-color: black;
  color: white;

  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;

  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}
  
.dropdown-content a:hover {
  background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}
  
#submit{
  width: 100%; 
  font-family: 'Parkinsans', sans-serif ;
  font-size: 30px;
}

